<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BuildArchVar" value="$(sys.BUILDARCH)"/>
    <add key="DeliveryLocationVar" value="$(var.DeliveryLocation)"/>
	<add key="ComponentIdPrefix" value="cmp"/>
    <add key="FileIdPrefix" value="fil"/>
  </appSettings>
</configuration>